@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wellcome to webside</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Us Group:</h1>
        <h2>KIT.118.ei</h2>
        <p><a class="btn btn-default" href="">&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h1>My Name: </h1>
        <h2>Nguyen Viet Ha</h2>
        <p><a class="btn btn-default" href="">&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Here is my games</h2>
        <p></p>
        <p><a class="btn btn-default" href="">&raquo;</a></p>
    </div>
</div>